<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
		</div>
		<!-- <form method="POST" action="/after/submit">
			<input type="text" name="headname" class="form-control" />
			<table id="myTable" class="table order-list">
				<tbody>
					<tr name="noti">
						<td>
							<input type="text" name="name" class="form-control" />
						</td>
						<td>
							<input type="mail" name="mail" class="form-control" />
						</td>
						<td>
							<input type="text" name="phone" class="form-control" />
						</td>
						<td><input type="button" id="delnewrow" class="ibtnDel btn btn-md btn-danger " value="Delete">
						</td>
					</tr>
				</tbody>
			</table>
			<input id="addnewrow" type="button" value="ADD ROW" />
			<button>SAVE</button>
		</form> -->

		<form method="POST" action="/after/submit">
			<input type="text" name="headname" class="form-control" />

			<table id="myTable" class="table order-list">
				<tbody>
					<% forminfo.forEach((c, i) => { %>
					<tr name="noti">
						<td>
							<input type="hidden" name="id" + <%= i %> class="form-control" value=<%= c.id %> />
							<input type="text" name="name" + <%= i %> class="form-control" value=<%= c.name %> />
						</td>
						<td>
							<input type="mail" name="mail" + <%= i %> class="form-control" value=<%= c.mail %> />
						</td>
						<td>
							<input type="text" name="phone" + <%= i %> class="form-control" value=<%= c.phone %> />
						</td>
						<td><input type="button" id="delnewrow" class="ibtnDel btn btn-md btn-danger " value="Delete">
						</td>
					</tr>
					<% })  %>

				</tbody>
			</table>
			<input id="addnewrow" type="button" value="ADD ROW" />
			<button>SAVE</button>
		</form>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<script>
		$(document).ready(function () {
			$('#addnewrow').on('click', function () {
				// let html = `<div id="row">
				// 	<input type="number" value="5" />
				// 	<input id="delnewrow" type="button" value="DELETE" />
				// </div>`
				var newRow = $("<tr>");

				newRow.id = "row"
				var cols = "";

				cols += '<td><input type="text" class="form-control" name="name"/></td>';
				cols += '<td><input type="text" class="form-control" name="mail"/></td>';
				cols += '<td><input type="text" class="form-control" name="phone"/></td>';

				cols += '<td><input type="button" id="delnewrow" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
				newRow.append(cols);

				$("table.order-list").append(newRow);
			})

			$("table.order-list").on("click", ".ibtnDel", function (event) {
				$(this).closest("tr").remove();
			});

		});
	</script>

</body>

</html>